// Comments work like this in sass.

// Variables:
$deepBlue : #032f3e;
$sectionHeading : 24px;
$offWhite: #f8f9fb;
$bannerHeading: 46px;

// Mixins. Use keyword:
@mixin banner {
    width: 100%;
    position: relative;
    color: white;

    .banner-content{
        position: absolute;
        width: 100%;
        top: 58px;
    }
    img{
        width: 100%;
    }
    span{
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title{
        font-weight: normal;
        margin-bottom: 30px;
    }
}



// nested styles
#main-nav{
    background: $deepBlue;
    ul{
        width: 100%;
    }
    li{
        float: left;
        width: 14%;
    }
    a{
        color: $offWhite;
        text-decoration: none;
        padding: 16px;
        text-align: center;
        display: block;
    }
}//end main nav

// Clearfix because of float. Clears parents styles on itself.
// If an element is taller than its container, use this.
#main-nav ul:after{
    content: "";
    clear: both; // clears li tags before it
    display: block;
}

section h1{
    font-size: $sectionHeading;
    color: $deepBlue;
}


// Add mixin def to lead banner
.lead-banner {
    @include banner;
    text-align: right;
}

.lessons-banner{
    @include banner;
    li{
        text-transform: uppercase;
        font-size: 20px;
        max-width: 500px;
        margin: 60px;
    }
}