// Imports - use keyword. Use /sth/reset if in other dir"
@import "reset";
@import "variables";
@import "mixins";

// nested styles
#main-nav{
    background: $deepBlue;
    ul{
        width: 100%;
    }
    li{
        float: left;
        width: 14%;
    }
    a{
        color: $offWhite;
        text-decoration: none;
        padding: 16px;
        text-align: center;
        display: block;
    }
}//end main nav

// Clearfix because of float. Clears parents styles on itself.
// If an element is taller than its container, use this.
#main-nav ul:after{
    content: "";
    clear: both; // clears li tags before it
    display: block;
}

section h1{
    font-size: $sectionHeading;
    color: $deepBlue;
}


// Add mixin def to lead banner
.lead-banner {
    @include banner;
    text-align: right;
}

.lessons-banner{
    @include banner;
    li{
        text-transform: uppercase;
        font-size: 20px;
        max-width: 500px;
        margin: 60px;
    }
}